Package: voxl-mavlink-mqtt-client
Version: 0.0.1
Section: base
Priority: optional
Architecture: arm64
Depends: 
Conflicts: 
Maintainer: akira@reddotdrone.com
Description: MAVLink MQTT client service for VOXL that bridges Modal Pipe system with MQTT brokers
